.input-form-control {
	position: relative;
	&__label {
		font-size: toRem(10);
		font-weight: 500;
		display: block;
		margin-bottom: 4px;
		@media (min-width: 768px) {
			margin-bottom: 8px;
			font-size: toRem(12);
		}
	}
	&__wrapper-input {
		width: 100%;
		position: relative;
		padding-bottom: 12px;

		&.error {
			& .input-form-control__input {
				border-color: var(--error);
				transition: border-color 300ms ease;
			}
			& .input-form-control__btn:hover {
				border-color: var(--error);
			}
		}
		@media (min-width: 768px) {
			padding-bottom: 16px;
		}
	}
	&-adornment {
		position: absolute;
		z-index: 6;
		top: 0;
		min-width: 32px;
		min-height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		&__end {
			right: 0px;
		}
		@media (min-width: 768px) {
			min-width: 40px;
			min-height: 40px;
		}
	}

	&__input {
		height: 32px;
		width: 100%;
		border-radius: 4px;
		font-size: toRem(12);
		padding-right: 8px;
		padding-left: 8px;
		transition:
			border-color 300ms ease,
			background-color 300ms ease,
			color 300ms ease;
		font-weight: 400;
		&:focus,
		&:focus-visible {
			outline: none;
		}
		@media (min-width: 768px) {
			height: 40px;
			font-size: toRem(14);
			padding-right: 12px;
			padding-left: 12px;
		}
	}
	&__textarea {
		height: auto;
		resize: none;
		padding: 15px 8px;
		max-height: 104px;
		font-weight: 400;
		font-size: toRem(12);
		border-radius: 4px;
		&:focus,
		&:focus-visible {
			outline: none;
		}
		@media (min-width: 768px) {
			padding: toRem(14);
			font-size: toRem(14);
		}
	}
	&__error {
		font-size: toRem(8);
		color: var(--error);
		position: absolute;
		width: 100%;
		bottom: 3px;
		left: 0;
		opacity: 1;
		z-index: -1;
		visibility: hidden;
		transition: all 300ms ease;
		text-align: left;
		&.error {
			opacity: 1;
			visibility: visible;
			z-index: 1;
			transition: all 300ms ease;
		}
		@media (min-width: 768px) {
			font-size: toRem(10);
		}
	}
}

.errorHide {
	padding-bottom: 0px;
}

.fluid.input-form-control,
.outline.input-form-control {
	.input-form-control {
		&__label {
			color: var(--input-label);
		}
		&-adornment__end {
			color: var(--icon);
		}
		&__input,
		&__textarea {
			border: toRem(1) solid var(--input-border);
			background-color: var(--input);
			color: var(--input-text);
			&::placeholder {
				color: var(--input-placeholder);
			}
			&.big {
				padding: 24px 16px;
				@include fontSize(16, 18);
				&::placeholder {
					color: var(--input-placeholder--big);
				}
				@include min-tablet {
					padding: 21px 24px;
				}
			}
			&:focus {
				border-color: var(--gray);
			}
		}
		&__input.big {
			height: 48px;
			@include min-tablet {
				height: 64px;
			}
		}
		&__textarea.big {
			height: 142px;
		}
	}
}

.required {
	color: var(--active);
	font-size: toRem(12);
	font-weight: 500;
	line-height: 120%;
	padding-left: 4px;
}
