@use '../styles/vars.css';
@use '../components/audio/index.scss';
*,
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	scroll-behavior: smooth;
	background-color: var(--background);
	transition: background-color 300ms ease;
}
html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: var(--font-inter-var);
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	color: var(--primary);
	-webkit-tap-highlight-color: transparent;
}

body:has(dialog[open]) {
	overflow: hidden;
}

body::-webkit-scrollbar {
	width: 8px;
	/* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: #fff;
	/* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	/* color of the scroll thumb */
}

button,
a,
textarea,
input {
	font-family: inherit;
}
footer,
header,
nav,
section,
main {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

svg path {
	transition: fill 300ms ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.skeleton {
	background: linear-gradient(
		80deg,
		#fff 8%,
		rgba(204, 204, 204, 0.2) 18%,
		#fff 33%
	);
	background-size: 200% 100%;
	animation: 1.5s shine linear infinite;
}

@keyframes shine {
	to {
		background-position-x: -200%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container{
	width: 1280px;
	padding: 0px 20px;
}