.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	justify-content: center;
	display: flex;
	z-index: -1;
	visibility: hidden;
	transition: all 300ms ease;
	overflow: hidden;

	&.portal {
		position: absolute;
	}

	&_active {
		z-index: 3100;
		visibility: visible;
		will-change: auto;
		& .modal-overlay {
			opacity: 1;
		}

		.modal-content.modal-content__animate-left {
			transform: translateX(0%);
			transition: transform 300ms ease;
		}

		.modal-content.modal-content__animate-right {
			transform: translateX(0%);
			transition: transform 300ms ease;
		}

		.modal-content.modal-content__animate-fade {
			opacity: 1;
			transition: opacity 300ms ease;
		}
	}

	&_center {
		align-items: center;
	}

	&_end {
		align-items: flex-end;
	}

	&_start {
		align-items: flex-start;
	}

	&_justify-center {
		justify-content: center;
	}

	&_justify-end {
		justify-content: flex-end;
	}

	&_justify-start {
		justify-content: flex-start;
	}

	&-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		z-index: 2999;
		//background: rgba(87, 87, 87, 0.8);
		opacity: 0;
		will-change: auto;
		transition:
			opacity 300ms ease,
			background-color 290ms ease;
	}

	&-content {
		position: relative;
		z-index: 3000;
		will-change: auto;
		&.modal-content__animate-left {
			transform: translateX(-100%);
			transition: transform 300ms ease;
		}

		&.modal-content__animate-right {
			transform: translateX(100%);
			transition: transform 300ms ease;
		}

		&.modal-content__animate-fade {
			opacity: 0;
			transition: opacity 300ms ease;
		}
	}

	&-close {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 104;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
}
