.paper {
	background-color: var(--paper);
	transition: background-color 300ms ease;
	&.primary {
		background-color: var(--paper-primary);
	}
	&.secondary {
		background-color: var(--paper-secondary);
	}
	&.dark {
		background-color: var(--paper-dark);
	}
	&.background {
		background-color: var(--paper-background);
	}
	&.radius {
		border-radius: 2px;
	}
}
.hover__content {
	position: relative;
	z-index: 2;
	height: 100%;
}
.hover {
	position: relative;
	&::before {
		content: '';
		left: 0;
		top: 0;
		border-radius: 2px;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: var(--paper);
		transform: scale(1);
		transition: transform 500ms ease;
	}
	&.primary::before {
		background-color: var(--paper-primary);
	}
	&.secondary::before {
		background-color: var(--paper-secondary);
	}
	&.dark::before {
		background-color: var(--paper-dark);
	}
	&.background::before {
		background-color: var(--paper-background);
	}
	@media (hover: hover) {
		&:hover::before {
			transition: transform 500ms ease;
			transform: scale(1.025);
		}
	}
}

.pd8 {
	padding: 8px;
}

.pd16 {
	padding: 16px;
}

.pd24 {
	padding: 16px;
	@media (min-width: 1280px) {
		padding: 24px;
	}
}

.pd32 {
	padding: 32px;
}

.pd32_24 {
	padding: 32px 24px;
}

.pd24_m_24_16 {
	padding: 24px 16px;
	@media (min-width: 1280px) {
		padding: 24px;
	}
}
