.btn,
.link {
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: toRem(16);
	min-height: 32px;
	opacity: 1;
	transition:
		background-color 300ms ease,
		opacity 300ms ease,
		color 300ms ease,
		border 300ms ease,
		transform 300ms ease;
	position: relative;
	&:disabled {
		transition:
			background-color 300ms ease,
			opacity 300ms ease,
			color 300ms ease,
			border 300ms ease;
	}

	@media (hover: hover) {
		&:hover:not([disabled]) {
			transition:
				background-color 300ms ease,
				color 300ms ease,
				border 300ms ease;
			.content {
				transition:
					color 300ms ease,
					background-color 300ms ease;
			}
		}
	}
}

.link {
	text-decoration: none;
}

.content {
	transition: color 300ms ease;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: center;
}

.fluid {
	border: 1px solid var(--btn-border);
	color: var(--btn-text);
	background-color: var(--btn);
	border-radius: 2px;
	&:disabled {
		background-color: var(--btn-disabled);
		opacity: 0.6;
	}

	@media (hover: hover) {
		&:hover:not([disabled]) {
			border: 1px solid var(--btn-border-hover);
			background-color: var(--btn-hover);
		}
	}
}
