.btn,
.link {
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: toRem(16);
	min-height: 32px;
	opacity: 1;
	transition:
		background-color 300ms ease,
		opacity 300ms ease,
		color 300ms ease,
		border 300ms ease,
		transform 300ms ease;
	position: relative;
	&:disabled {
		transition:
			background-color 300ms ease,
			opacity 300ms ease,
			color 300ms ease,
			border 300ms ease;
	}

	@media (hover: hover) {
		&:hover:not([disabled]) {
			transition:
				transform 300ms ease,
				color 300ms ease;
			.content {
				transition: color 300ms ease;
			}
			.bg {
				transition: transform 300ms ease;
			}
		}
	}
	@media (min-width: 1024px) {
		min-height: 40px;
		padding: 0px 22.5px;
	}
}

.link {
	text-decoration: none;
}

.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
	border-radius: 2px;
	transform: scale(1);
	transition:
		background-color 300ms ease,
		opacity 300ms ease,
		color 300ms ease,
		border 300ms ease,
		transform 300ms ease;
}

.content {
	transition: color 300ms ease;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: center;
}

.fluid {
	border: none;
	color: var(--btn-text);
	background-color: var(--btn);
	border-radius: 2px;
	&:disabled {
		background-color: var(--btn-disabled);
		opacity: 0.4;
	}
	.bg {
		background-color: var(--btn);
		border-radius: 2px;
	}

	@media (hover: hover) {
		&:hover:not([disabled]) {
			.bg {
				transform: scale(1.05);
			}
		}
	}
}

.fluid-blue {
	border: none;
	color: var(--btn-blue-text);
	background-color: var(--btn-blue);

	&:disabled {
		opacity: 0.4;
	}

	.bg {
		background-color: transparent;
	}

	@media (hover: hover) {
		&:hover:not([disabled]) {
			color: var(--btn-blue-text-hover);
			background-color: transparent;
			.bg {
				background-color: var(--btn-blue-hover);
				transform: scale(1.009);
			}
		}
	}
}

.fluid-white {
	border: none;
	color: var(--btn-white-text);
	background-color: var(--btn-white);

	&:disabled {
		opacity: 0.4;
	}

	.bg {
		background-color: var(--btn-white);
	}

	@media (hover: hover) {
		&:hover:not([disabled]) {
			color: var(--btn-white-text-hover);
			.bg {
				background-color: var(--btn-white-hover);
				transform: scale(1.006);
			}
		}
	}
}

.fluid-dark {
	border: none;
	color: var(--btn-dark-text);
	background-color: var(--btn-dark);
	&:disabled {
		background-color: var(--btn-dark-disabled);
		opacity: 0.4;
	}
	.bg {
		background-color: var(--btn-dark);
	}

	@media (hover: hover) {
		&:hover:not([disabled]) {
			color: var(--btn-dark-text-hover);
			.content {
				color: var(--btn-dark-text-hover);
			}
			.bg {
				transform: scale(1.006);
			}
		}
	}
}

.outline {
	border: none;
	color: var(--btn-outline-text);
	background-color: var(--btn-outline);
	&:disabled {
		opacity: 0.4;
	}

	.bg {
		border: 1px solid var(--btn-outline-border);
	}

	@media (hover: hover) {
		&:hover:not([disabled]) {
			.content {
				color: var(--btn-outline-text-hover);
			}
			.bg {
				transform: scale(1.006);
				border: 1px solid var(--btn-outline-border-hover);
			}
		}
	}
}
