.search {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 8px;
}

.error {
	color: var(--active);
	font-size: toRem(18);
}

.audio__wrap {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.actions{
	margin-top: 16px;
	display: flex;
	align-items: center;
	gap: 20px;
}

.recorder{
	animation: fadeLoop 3s infinite alternate;
	width: 8px;
	height: 8px;
	background-color: red;
	display: block;
	border-radius: 8px;
	position: absolute;
	z-index: 2;
	right: -8px;
	top: -4px;
}

@keyframes fadeLoop {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1; 
  }
  100% {
    opacity: 0.3;
  }
}