.header {
	background-color: var(--header);
	height: var(--height-header);
	width: 100%;
	position: sticky;
	top: 0px;
	border-bottom: 1px solid var(--hr);
	& > div {
		height: 100%;
	}
}

.nav {
	display: flex;
	align-items: center;
	gap: 16px;
	height: 100%;
	a {
		position: relative;
		text-decoration: none;
		font-size: toRem(18);
		transition: color 300ms ease;
		&.active {
			color: var(--yellow);
		}
		@include hover {
			transition: color 300ms ease;
			color: var(--hover);
		}
	}
}

.recorder{
	animation: fadeLoop 3s infinite alternate;
	width: 8px;
	height: 8px;
	background-color: red;
	display: block;
	border-radius: 8px;
	position: absolute;
	z-index: 2;
	right: -12px;
	top: 0;
}

@keyframes fadeLoop {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1; 
  }
  100% {
    opacity: 0.3;
  }
}