.h1 {
	@include fontSize(32, 40);
	font-weight: 700;
	line-height: 100%;
}

.h2 {
	@include fontSize(20, 26);
	font-weight: 700;
	line-height: 100%;
}

.h3 {
	@include fontSize(18, 24);
	font-weight: 600;
}

.h4 {
	@include fontSize(16, 20);
	font-weight: 600;
	line-height: 28px;
}

.h5 {
	@include fontSize(16, 18);
}

.p,
.a,
.span {
	@include fontSize(14, 16);
	font-weight: 400;
	line-height: 24px;
}

.a {
	text-decoration: none;
}

@each $value in $weight {
	.w#{$value} {
		font-weight: #{$value};
	}
}

.white {
	color: var(--white);
}

.dark {
	color: var(--dark);
}

.dark-blue {
	color: var(--dark-blue);
}

.default,
.primary {
	color: var(--primary);
}

.gray {
	color: var(--gray);
}

.gray-secondary {
	color: var(--gray-secondary);
}

.gray-light {
	color: var(--text-text-secondary);
}

.accent,
.secondary {
	color: var(--secondary);
}

.hover {
	color: var(--hover);
}

.active {
	color: var(--active);
}

.link {
	color: var(--primary);
	transition: color 300ms ease;
	@media (hover: hover) {
		&:hover {
			color: var(--hover);
			transition: color 300ms ease;
		}
	}
}
.s10 {
	font-size: toRem(10);
}
.s12 {
	@include fontSize(10, 12);
}
.s14 {
	@include fontSize(12, 14);
}
.s16 {
	@include fontSize(12, 16);
}
.s18 {
	@include fontSize(14, 18);
}
.s20 {
	@include fontSize(16, 20);
}
.s22 {
	@include fontSize(20, 22);
}
.s24 {
	@include fontSize(16, 24);
}

.s26 {
	@include fontSize(24, 26);
}

.s28 {
	@include fontSize(16, 28);
}

.s32 {
	@include fontSize(20, 32);
}

.s40 {
	@include fontSize(18, 40);
	@media (max-width: 768px) {
		line-height: normal;
	}
}

.line-height_normal {
	line-height: normal;
}

.line-height_120 {
	line-height: 120%;
}

.line-height_140 {
	line-height: 140%;
}
